@charset "UTF-8";
* {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto Mono", monospace;
}

.card .project-buttons button {
  font-family: "Roboto Mono", monospace;
}

.linea {
  border-top: 1px solid black;
  height: 1px;
  max-width: 25%;
  padding: 0;
  margin: 10px 0;
}

.title-container h2,
.title-container h3 {
  color: #000;
  font-weight: 500;
  font-size: 3.5rem;
}
.title-container p {
  color: #000;
  font-size: 2.8rem;
  font-weight: 300;
}
.title-container span {
  color: #3d8bd4;
  font-size: 2.2rem;
  background-color: white;
  padding: 0.2rem;
}
.title-container .spanh1 {
  color: black;
  -webkit-text-stroke: 0.5px black;
  font-size: 4.5rem;
  background-color: #d9ef54;
}

.work-container .first-p {
  font-size: 3rem;
  font-weight: 500;
}
.work-container .fa-code {
  font-size: 2.5rem;
}
.work-container .project-description a {
  text-decoration: none;
  color: #000;
  font-family: "Roboto Mono", monospace;
  font-size: 1.6rem;
  font-weight: 500;
}

.footer-title {
  font-size: 1.6rem;
  color: black;
  font-weight: 500;
  margin-bottom: 1rem;
}

.footer-sections .footer-link {
  font-weight: 300;
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
}

.GIT-card .form-title {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.GIT-card form {
  font-weight: 500;
  font-size: 1.6rem;
}
.GIT-card form label,
.GIT-card form textarea,
.GIT-card form button,
.GIT-card form input {
  font-size: 1.4rem;
}
.GIT-card form input {
  font-family: "Roboto Mono", monospace;
  background-color: #fefffe;
}
.GIT-card form button {
  font-family: "Roboto Mono", monospace;
}

/* TABLET / LAPTOP */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .title-container h2,
.title-container h3 {
    font-size: 5rem;
  }
  .title-container p {
    font-size: 4rem;
  }
  .title-container span {
    font-size: 3.2rem;
  }
  .work-container .first-p {
    font-size: 3.7rem;
  }
  .work-container .fa-code {
    font-size: 3.1rem;
  }
  .work-container .project-description a {
    text-decoration: none;
    color: #000;
    font-family: "Roboto Mono", monospace;
    font-size: 1.6rem;
    font-weight: 500;
  }
  .GIT-card .form-title {
    font-size: 2.3rem;
  }
  .GIT-card form {
    font-size: 2rem;
  }
  .GIT-card form label,
.GIT-card form textarea,
.GIT-card form button,
.GIT-card form input {
    font-size: 1.8rem;
  }
  .footer-sections .footer-link {
    font-size: 2rem;
  }
  .footer-title {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1600px) {
  .title-container h2,
.title-container h3 {
    font-size: 5rem;
  }
  .title-container p {
    font-size: 4rem;
  }
  .title-container span {
    font-size: 3.2rem;
  }
  .title-container h2,
.title-container h3 {
    font-size: 5rem;
  }
  .title-container p {
    font-size: 4rem;
  }
  .title-container span {
    font-size: 3.2rem;
  }
  .work-container .first-p {
    font-size: 3.7rem;
  }
  .work-container .fa-code {
    font-size: 3.1rem;
  }
  .GIT-card .form-title {
    font-size: 2.3rem;
  }
  .GIT-card form {
    font-size: 2rem;
  }
  .GIT-card form label,
.GIT-card form textarea,
.GIT-card form button,
.GIT-card form input {
    font-size: 1.8rem;
  }
  .footer-sections .footer-link {
    font-size: 2rem;
  }
  .footer-title {
    font-size: 2rem;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #b2e0bd;
}

/* Navbar */
nav {
  height: auto;
  width: 100vw;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .logo-container {
  align-self: center;
  margin-bottom: 4rem;
}
nav .logo-container .logo {
  width: 10rem;
}
nav .sections-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
nav .sections-container .section-btn {
  color: black;
  width: auto;
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
  height: 5rem;
}

/* Pie de página */
footer {
  display: flex;
  width: 100%;
  height: 20vh;
  padding: 2.7rem;
  justify-content: space-between;
  border-top: 3px solid black;
  margin-top: 3rem;
  margin-bottom: 3rem;
  /* Links a secciones */
}
footer .footer-sections {
  height: auto;
  width: 100%;
}
footer .footer-sections li {
  margin: 0.5rem 0;
}
footer .footer-social {
  height: auto;
  width: 100%;
  text-align: right;
}
footer .footer-social .linea {
  margin-left: 75%;
}
footer .footer-social .footer-social__icons {
  width: auto;
  height: 4rem;
}
footer .footer-social .footer-social__icons .fa-github,
footer .footer-social .footer-social__icons .fa-linkedin {
  margin-top: 0.5rem;
  color: black;
  font-size: 3rem;
  margin-left: 1rem;
  background-color: white;
  padding: 0.5rem;
  border: 3px solid black;
  border-radius: 0.4rem;
  box-shadow: 0.3rem 0.3rem black;
}

.swal2-title {
  padding-top: 24px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 3rem;
}

.swal2-html-container {
  font-size: 18px;
}

.swal2-styled.swal2-confirm {
  font-size: 16px;
}

.swal2-success-ring {
  font-size: 100%;
}

/* Contenedor de los titulos al inicio de la página */
.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 4.2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  height: auto;
  top: 0;
  margin-bottom: 6rem;
}

/* Proyectos */
.work-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-bottom: 2rem;
}
.work-container .work-title-container {
  /* TITULO "MY WORK" + ICONO */
  width: 32rem;
  height: 9.6rem;
  border: 3px solid #000;
  background-color: #fec572;
  border-radius: 0.4rem;
  position: relative;
  left: 10px;
  top: 10px;
}
.work-container .work-title-container .work-title-texts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 32rem;
  height: 9.6rem;
  background-color: #fefffe;
  border: 3px solid black;
  border-radius: 0.4rem;
  left: -13px;
  top: -13px;
  position: inherit;
}
.work-container .work-title-container .work-title-texts .first-p {
  text-align: center;
  color: #000;
}
.work-container .work-title-container .work-title-texts .fa-code {
  color: #000;
}
.work-container .cards-container {
  margin-top: 3rem;
  display: grid;
  height: auto;
  width: auto;
  grid-template-columns: 320px;
  grid-template-rows: repeat(3, 550px);
  justify-content: center;
  gap: 3rem 0;
}
.work-container .cards-container .card {
  border: 3px solid #000;
  width: 100%;
  height: 550px;
  justify-self: center;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 1.5rem;
  gap: 1.5rem;
  background-color: #fefffe;
}
.work-container .cards-container .card img {
  width: 28rem;
  height: 17.6rem;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: black;
}
.work-container .cards-container .card .project-title {
  color: #000;
  font-size: 2.5rem;
  font-weight: 700;
}
.work-container .cards-container .card .project-description {
  color: #000;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: justify;
}
.work-container .cards-container .card .project-technologies {
  width: 28rem;
}
.work-container .cards-container .card .project-technologies .project-technologies--title {
  color: #000;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}
.work-container .cards-container .card .project-technologies .project-technologies--buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.work-container .cards-container .card .project-technologies .project-technologies--buttons .project-technologies--button {
  color: #000;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.5rem;
  text-align: center;
  border: 2px solid #000;
  border-radius: 0.4rem;
}
.work-container .cards-container .card .project-buttons {
  width: 28rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.work-container .cards-container .card .project-buttons .deploy-button {
  padding: 0.5rem;
  margin: 0 2rem;
  height: 3.5rem;
  border: 2px solid #000;
  border-radius: 0.4em;
  box-shadow: 0.3rem 0.3rem;
  font-weight: 500;
  font-size: 1.6rem;
  background-color: #fefffe;
}
.work-container .cards-container .card .project-buttons .deploy-button a {
  font-size: 1.6rem;
  color: #000;
  text-decoration: none;
}
.work-container .cards-container .card .project-buttons .fa-github {
  font-size: 6rem;
  color: #000;
}

/* About me */
.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.about-me-container .about-me-title {
  width: 32rem;
  height: 9.6rem;
  border: 3px solid #000;
  background-color: #6e96fa;
  border-radius: 0.4rem;
  position: relative;
  left: 10px;
  top: 10px;
}
.about-me-container .about-me-title .about-me-title-texts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 32rem;
  height: 9.6rem;
  background-color: #fefffe;
  border: 3px solid black;
  border-radius: 0.4rem;
  left: -13px;
  top: -13px;
  position: inherit;
}
.about-me-container .about-me-title .about-me-title-texts .first-p {
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: 3rem;
}
.about-me-container .about-me-title .about-me-title-texts .fa-id-badge {
  color: #000;
  font-size: 2.5rem;
}
.about-me-container .about-me-card {
  margin-top: 3rem;
  width: 32rem;
  padding: 2.5rem 1.5rem;
  background-color: #fefffe;
  justify-self: center;
  border: 3px solid black;
  border-radius: 0.4rem;
}
.about-me-container .about-me-card .about-me-text {
  color: #000;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: justify;
  margin-bottom: 1rem;
}
.about-me-container .about-me-card .spancito {
  color: #000;
  font-size: 1.6rem;
  font-weight: 500;
}

/* Skills */
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.skills-container .skills-title {
  width: 32rem;
  height: 9.6rem;
  border: 3px solid #000;
  background-color: #bda0ea;
  border-radius: 0.4rem;
  position: relative;
  left: 10px;
  top: 10px;
}
.skills-container .skills-title .skills-title-texts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 32rem;
  height: 9.6rem;
  background-color: #fefffe;
  border: 3px solid black;
  border-radius: 0.4rem;
  left: -13px;
  top: -13px;
  position: inherit;
}
.skills-container .skills-title .skills-title-texts .first-p {
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: 3rem;
}
.skills-container .skills-title .skills-title-texts .fa-laptop-code {
  color: #000;
  font-size: 2.5rem;
}
.skills-container .skills-card {
  display: flex;
  margin-top: 3rem;
  width: 32rem;
  padding: 2.5rem 1.5rem;
  background-color: #fefffe;
  border: 3px solid black;
  border-radius: 0.4rem;
  justify-content: space-around;
}
.skills-container .skills-card .skills-subcard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.skills-container .skills-card .skills-subcard .technologie {
  color: #000;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 1rem;
}

/* Get in touch */
.GIT-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.GIT-container .GIT-title {
  width: 32rem;
  height: 9.6rem;
  border: 3px solid #000;
  background-color: #d9ef54;
  border-radius: 0.4rem;
  position: relative;
  left: 10px;
  top: 10px;
}
.GIT-container .GIT-title .GIT-title-texts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 32rem;
  height: 9.6rem;
  background-color: #fefffe;
  border: 3px solid black;
  border-radius: 0.4rem;
  left: -13px;
  top: -13px;
  position: inherit;
}
.GIT-container .GIT-title .GIT-title-texts .first-p {
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: 3rem;
}
.GIT-container .GIT-title .GIT-title-texts .fa-envelope-circle-check {
  color: #000;
  font-size: 2.5rem;
}
.GIT-container .GIT-card {
  margin-top: 3rem;
  width: 32rem;
  padding: 2.5rem 1.5rem;
  background-color: #fefffe;
  border: 3px solid black;
  border-radius: 0.4rem;
}
.GIT-container .GIT-card .form-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.GIT-container .GIT-card .form-container form label {
  margin-bottom: 0.5rem;
}
.GIT-container .GIT-card .form-container form input,
.GIT-container .GIT-card .form-container form textarea {
  margin-bottom: 1.3rem;
  border: 1px solid;
  border-color: #fefffe #fefffe #adacac #fefffe;
  padding: 0.2rem 0;
}
.GIT-container .GIT-card .form-container form #name,
.GIT-container .GIT-card .form-container form #email {
  padding: 0.5rem;
}
.GIT-container .GIT-card .form-container form button {
  background-color: #fefffe;
  border: 1px solid black;
  border-radius: 0.4rem;
  box-shadow: 0.4rem 0.4rem;
  width: 50%;
  padding: 1rem;
  align-self: flex-end;
  margin-top: 1.5rem;
  transform: translateY(-0.2em);
}
.GIT-container .GIT-card .form-container form button:active {
  transform: translateY(0);
}

.articles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.articles-container .articles-title {
  width: 32rem;
  height: 9.6rem;
  border: 3px solid #000;
  background-color: #d9ef54;
  border-radius: 0.4rem;
  position: relative;
  left: 10px;
  top: 10px;
}
.articles-container .articles-title .articles-title-texts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 32rem;
  height: 9.6rem;
  background-color: #fefffe;
  border: 3px solid black;
  border-radius: 0.4rem;
  left: -13px;
  top: -13px;
  position: inherit;
}
.articles-container .articles-title .articles-title-texts .first-p {
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: 3rem;
}
.articles-container .articles-title .articles-title-texts .fa-newspaper {
  color: #000;
  font-size: 2.5rem;
}

/* Botón CV */
/* From uiverse.io by @barisdogansutcu */
.download-btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  margin-top: 3rem;
}
.download-btn-container .download-button {
  font-family: "Roboto Mono", monospace;
  position: relative;
  border-width: 0;
  color: black;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  z-index: 1;
}
.download-btn-container .download-button .docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  min-height: 40px;
  height: 4.5rem;
  font-size: 1.5rem;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: #fefffe;
  border: 2px solid #000;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.download-btn-container .download-button .download {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  z-index: -1;
  border-radius: 4px;
  transform: translateY(0%);
  background-color: #7a60fe;
  border: 2px solid black;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.download-btn-container .download-button .download .cv-link {
  color: white;
}
.download-btn-container .download-button:hover {
  margin-bottom: 2rem;
  transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}
.download-btn-container .download-button:hover .download {
  transform: translateY(100%);
}
.download-btn-container .download svg polyline,
.download-btn-container .download svg line {
  -webkit-animation: docs 1s infinite;
          animation: docs 1s infinite;
}
@-webkit-keyframes docs {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes docs {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* TABLET / LAPTOP */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  nav {
    margin: 0;
  }
  footer {
    margin-bottom: 0;
  }
  footer .footer-sections {
    width: 33.5rem;
    height: auto;
    padding-left: 2.5rem;
  }
  footer .footer-social {
    width: 33.5rem;
    padding-right: 2.5rem;
  }
  footer .footer-social .footer-social__icons .fa-github,
footer .footer-social .footer-social__icons .fa-linkedin {
    font-size: 3.8rem;
  }
  .title-container {
    align-items: center;
    margin-bottom: 5rem;
  }
  .work-container {
    margin-bottom: 5rem;
  }
  .work-container .work-title-container {
    width: 50rem;
    height: 12rem;
    margin-bottom: 3rem;
  }
  .work-container .work-title-container .work-title-texts {
    height: 12rem;
    width: 50rem;
  }
  .work-container .cards-container {
    grid-template-columns: repeat(2, 320px);
    grid-template-rows: repeat(2, 550px);
    gap: 3rem;
  }
  .aboutme-skills-container {
    display: grid;
    grid-template-columns: repeat(2, 320px);
    gap: 3rem;
    justify-content: center;
    margin-bottom: 5rem;
  }
  .aboutme-skills-container .skills-card {
    height: 27.6rem;
  }
  .aboutme-skills-container .skills-card .skills-subcard {
    justify-content: space-around;
  }
  .GIT-container {
    margin-bottom: 5rem;
  }
  .GIT-container .GIT-title {
    width: 50rem;
    height: 12rem;
    margin-bottom: 3rem;
  }
  .GIT-container .GIT-title .GIT-title-texts {
    width: 50rem;
    height: 12rem;
  }
  .GIT-container .GIT-title .GIT-title-texts .first-p {
    font-size: 3.7rem;
  }
  .GIT-container .GIT-title .GIT-title-texts .fa-envelope-circle-check {
    font-size: 3.1rem;
  }
  .GIT-container .GIT-card {
    width: 67rem;
    padding: 4rem;
  }
  .GIT-container .GIT-card .form-container form textarea {
    padding: 1rem;
  }
  .articles-container {
    margin-bottom: 5rem;
  }
  .articles-container .articles-title {
    width: 50rem;
    height: 12rem;
    margin-bottom: 3rem;
  }
  .articles-container .articles-title .articles-title-texts {
    width: 50rem;
    height: 12rem;
  }
  .articles-container .articles-title .articles-title-texts .first-p {
    font-size: 3.7rem;
  }
  .articles-container .articles-title .articles-title-texts .fa-newspaper {
    font-size: 3.1rem;
  }
}
/* PC */
@media only screen and (min-width: 1025px) and (max-width: 1600px) {
  nav {
    margin: 0;
  }
  footer {
    margin-bottom: 5rem;
  }
  footer .footer-sections {
    width: 33.5rem;
    height: auto;
    padding-left: 2.5rem;
  }
  footer .footer-social {
    width: 33.5rem;
    padding-right: 2.5rem;
  }
  footer .footer-social .footer-social__icons .fa-github,
footer .footer-social .footer-social__icons .fa-linkedin {
    font-size: 3.8rem;
  }
  .title-container {
    align-items: center;
    margin-bottom: 5rem;
  }
  .work-container {
    margin-bottom: 3rem;
  }
  .work-container .work-title-container {
    width: 50rem;
    height: 12rem;
    margin-bottom: 3rem;
  }
  .work-container .work-title-container .work-title-texts {
    height: 12rem;
    width: 50rem;
  }
  .work-container .cards-container {
    grid-template-columns: repeat(2, 370px);
    grid-template-rows: repeat(2, 550px);
    gap: 3rem;
  }
  .aboutme-skills-container {
    display: grid;
    justify-content: center;
    margin-left: 1.7rem;
    grid-template-columns: repeat(2, 370px);
    gap: 3rem;
    margin-bottom: 3rem;
  }
  .aboutme-skills-container .about-me-title {
    width: 37rem;
  }
  .aboutme-skills-container .about-me-title .about-me-title-texts {
    width: 37rem;
  }
  .aboutme-skills-container .skills-title {
    width: 37rem;
  }
  .aboutme-skills-container .skills-title .skills-title-texts {
    width: 37rem;
  }
  .aboutme-skills-container .about-me-card {
    width: 100%;
    height: 27.6rem;
  }
  .aboutme-skills-container .skills-card {
    width: 100%;
    height: 27.6rem;
  }
  .aboutme-skills-container .skills-card .skills-subcard {
    justify-content: space-around;
  }
  .GIT-container {
    margin-bottom: 3rem;
  }
  .GIT-container .GIT-title {
    width: 50rem;
    height: 12rem;
  }
  .GIT-container .GIT-title .GIT-title-texts {
    width: 50rem;
    height: 12rem;
  }
  .GIT-container .GIT-title .GIT-title-texts .first-p {
    font-size: 3.7rem;
  }
  .GIT-container .GIT-title .GIT-title-texts .fa-envelope-circle-check {
    font-size: 3.1rem;
  }
  .GIT-container .GIT-card {
    width: 77rem;
    padding: 4rem;
  }
  .GIT-container .GIT-card .form-container form textarea {
    padding: 1rem;
  }
  .articles-container {
    margin-bottom: 3rem;
  }
  .articles-container .articles-title {
    width: 50rem;
    height: 12rem;
  }
  .articles-container .articles-title .articles-title-texts {
    width: 50rem;
    height: 12rem;
  }
  .articles-container .articles-title .articles-title-texts .first-p {
    font-size: 3.7rem;
  }
}/*# sourceMappingURL=style.css.map */